---
layout: layouts/base
eleventyImport:
    collections: ["events"]
---
<section class="next-event"><a id="next-event"></a>
    <header class="header">Next Event</header>
        {% if events.length > 0 %}
        <article class="content site-content">
            <article class="event-img">
                <img src="{{ events[0].logo }}" >
            </article>
            <article class="event-info">
                <div class="title">{{ events[0].title }}</div>
                <article class="description">
                    <span>{{ events[0].description }}</span>
                </article>
                <article class="details">
                    <div class="date">
                        <div class="icon"><i class="fa fa-calendar"></i></div>
                        <span class="date">{{ events[0].date | date_to_string }}</span>
                    </div>
                    <div class="venue">
                        <div class="icon"><i class="fa fa-map-marker"></i></div>
                        <div class="name">{{ events[0].venue.name}}</div>
                        <div class="address">({{ events[0].venue.address }})</div>
                    </div>
                </article>
                <article class="call-to-action"><a target="_blank" class="button -large"
                    href="{{ events[0].link }}">Count me in!</a></article>
            </article>
        </article>
        {% else %}
            <article>There are no events currently planned.</article>
        {% endif %}
    </article>
    </>
</section>
{% if events.length > 0 %}
<section class="upcoming-events"><a id="upcoming-events"></a>
    <header>Upcoming Events</header>
    <ul class="items site-content">
        {%- for item in events offset: 1 -%}
            <li class="upcoming-event">
                <div class="image"><img src="{{ item.logo }}" alt="logo for upcoming event"></div>
                <div class="info">
                    <div class="title">{{ item.title }}</div>
                    <div class="date">{{ item.date | date_to_string }}</div>
                    <div class="view"><a target="_blank" class="button -outline"
                        href="{{ item.link }}">View</a></div>
                </div>
            </li>
        {%- else -%}
            <li>There are no upcoming events.<li>
        {%- endfor -%}
    </ul>
    <footer></footer>
</section>
{% endif %}
<section class="sponsors section"><a id="sponsors"></a>
    <header>Sponsors</header>
    <article class="site-content">
        <p>Special thanks to the <a href="https://dotnetfoundation.org" target="_blank">.NET Foundation</a> for helping keep Full Stack Manitoba connected through meetup.com and with other user groups from across North America.</p>
    </article>
</section>
<section class="contact-us section"><a id="contact-us"></a>
    <header>Contact Us</header>
    <article class="site-content">
        <div class="message">Looking to reach out directly to the Full Stack MB leadership? You can find us on <a href="https://www.linkedin.com/company/fullstackmb/" target="_blank">LinkedIn</a>, get an invite to our <a href="/slack">Slack</a>, or message us through <a href="https://www.meetup.com/fullstackmb/" target="_blank">Meetup</a> and someone will get back to you as soon as possible.</div>
        <div class="members">
        <div class="member" v-for="item in board" v:bind:title="item.name">
            <div class="avatar"><img v-bind:src="item.imgUrl" v-bind:alt="item.name"></div>
            <div class="name">{{ item.name }}</div>
            <div class="role">{{ item.role }}</div>
            <div class="contact"><a class="button -outline -small"
                                    v-bind:href="item.contact | mailTo">{{ item.contact }}</a></div>
        </div>
        </div>
    </article>
            